body {
    background-color: #000;
}
.anime-title {
    font-size: 3rem;
    margin-top: 20px;
    text-shadow: 0 0 10px #fd0000, 0 0 20px #ffb3c6, 0 0 35px #ffd6ff;
}


header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#lamp {
    width: 220px;
    margin: 25px 0;
    filter: drop-shadow(0 0 20px #ffffffaa);
    transition: transform 0.3s ease, filter 0.3s ease;
}

#lamp:hover {
    transform: scale(1.06);
    filter: drop-shadow(0 0 30px #ffffff);
}

button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #ffffffcc;
    color: #000;
    transition: 0.3s;
    font-weight: bold;
    box-shadow: 0 0 10px #fff;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #fff;
}
#turnOff {
    background: #ff3b3b;   /* vermelho */
    color: #fff;
    box-shadow: 0 0 10px #ff3b3b;
}

#turnOff:hover {
    box-shadow: 0 0 20px #ff3b3b;
    transform: scale(1.1);
}
#turnOn {
    background: #00d12d;     /* verde */
    color: #fff;
    box-shadow: 0 0 10px #00d12d;
}

#turnOn:hover {
    box-shadow: 0 0 20px #00ff3c;
    transform: scale(1.1);
}


